body {
	font-family: arial,sans-serif;
	color:rgb(50,50,50);
	margin:0px;
}

nav ul {
	margin:0px;
	background: rgb(219, 220, 221);
	text-align: center;
}

ul li {
	display:inline-block;
	padding:10px 5px;
	color:#7f8082;
}

ul li:after {
	padding: 0px 40px;
	content: '|';
	line-height: 100%;
}

ul li:first-child:before {
	content: '|';
	padding-right: 40px;
}

a {
	text-decoration: none;
	color:inherit;
	padding:2px;
}

a:hover {
	color:rgb(50,50,50);
}

.content-container {
	max-width:1080px;
	margin:0px auto;
	text-align: center;
}

h1 {
	margin-top:60px;
	margin-bottom:70px;
}

img {
	max-width: 100%;
}

.img-home, .gist-home {
	max-width:800px;
	text-align:center;
	margin:0px auto;
}

.img-showcase {
	max-width: 600px;
}

.github-embed img {
	margin:0px auto;
}

footer {
	padding:40px;
}